<?xml version="1.0" encoding="utf-8"?>

<configuration>

<system.webServer>
 <staticContent>
    <remove fileExtension=".woff" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  </staticContent>

    <defaultDocument>
        <files>
                <clear />
                <add value="_app.php" />
        </files>
    </defaultDocument>

    <rewrite>
    <rules>


    <rule name="DP static wildcard" stopProcessing="true">
        <match url="^zehir/(.*)\.(ico|gif|xml|pdf|html|jpg|png|jpeg|css|js|swf|doc|docx|otf|eot|ttf|woff|woff2|svg|zip|rar)$" ignoreCase="true" />
        <action type="Rewrite" url="_zehir/{R:1}.{R:2}" />
    </rule>

    <rule name="DP Move" stopProcessing="true">
      <match url="^$" />
      <action type="Rewrite" url="./public/" />
    </rule>

    <rule name="DP WildXAll" stopProcessing="true">
        <match url="^(.*)\.(ico|gif|xml|pdf|html|jpg|png|jpeg|css|js|swf|doc|docx|otf|eot|ttf|woff|woff2|svg|zip|rar)$" ignoreCase="true" />
        <action type="Rewrite" url="./public/{R:1}.{R:2}" />
    </rule>


    <rule name="images" stopProcessing="true">
        <match url="assets/(.*)" />
        <action type="Rewrite" url="./public/assets/_app.php/{R:1}" />
    </rule>

    <rule name="DP Wild all request" stopProcessing="true">
        <match url="(.*)" />
        <action type="Rewrite" url="./public/_app.php/{R:1}" />
    </rule>

    </rules>
    </rewrite>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <verbs>
                    <remove verb="PUT" />
                    <remove verb="DELETE" />
                    <add verb="DELETE" allowed="true" />
                    <add verb="PUT" allowed="true" />
                </verbs>
            </requestFiltering>
        </security> 

</system.webServer>

    <system.web>
        <authorization>
            <allow users="*" verbs="*" />
        </authorization>

    </system.web>


</configuration>